.App {
  background-color: #9b883427;
  margin-bottom: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.company {
  background-color: rgba(34, 108, 192, 0.658);
}

.main-container {
  width: 80vw;
  margin: 0 auto;
  /* Center the container horizontally */
}

.jobly-nav {
  background-color: rgba(34, 108, 192, 0.849);
  margin-bottom: 10px;
}

.job {
  background-color: rgba(25, 109, 204, 0.562);
}